<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--xmlns:th="http://www.thymeleaf.org"-->
<head>
    <meta charset="UTF-8">
    <title>图书管理系统</title>
</head>
<body>
    <div >
        <ul >
            <li >
                <a >添加书籍</a>
                <a href="/addBook">tianjia</a>
            </li>
            <li >
                <a href="/subBook">删除书籍</a>
            </li>
            <li >
                <a href="/lendBook">借书处理</a>
            </li>
            <li >
                <a href="/repayBook">还书处理</a>
            </li>
            <li >
                <a href="/subMoney">扣款处理</a>
            </li>
            <li >
                <a href="/getReaderLend">查阅读者借阅信息</a>
            </li>
            <li >
                <a href="/getBook">查阅书本</a>
            </li>
        </ul>
    </div>


</body>
</html>